html2image>=2.0.0
# These are provided by system-site-packages to avoid compilation on Pi Zero
# jinja2
# Pillow
# requests
# numpy
# RPi.GPIO
# spidev
stravalib>=1.6.0
gpxpy>=1.5.0
polyline>=2.0.0
inky>=1.5.0
