<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- @formatter:off -->
    <style>
         {{ css_content }}
    </style>
    <!-- @formatter:on -->
</head>

<body>
    <!-- Weather Panel -->
    <div class="weather-panel">
        <div class="weather-top-panel">
            <div class="weather-panel-title">
                <div class="location">{{ weather.city }}</div>
                <div class="date-time">
                    {{ weather.date }} {{ weather.time }}
                </div>
            </div>
            <div class="current-weather">
                <div class="weather-main">
                    <img src="{{ weather.icon }}" alt="Weather" class="weather-icon">
                    <div class="temp-container">
                        <div>
                            <span class="temp-display">{{ weather.temp }}</span><span class="temp-display-unit">°{% if
                                weather.units == 'imperial' %}F{% else %}C{% endif %}</span>
                        </div>
                        <div class="feels-like">Feels like {{ weather.feels_like }}°</div>
                    </div>
                </div>
                <div class="weather-details-grid">
                    <div><img src="{{ weather.humidity_icon }}" class="detail-icon"> {{ weather.humidity }}%</div>
                    <div><img src="{{ weather.wind_icon }}" class="detail-icon"> {{ weather.wind|round(1) }} {% if
                        weather.units
                        == 'imperial' %}mph{% else %}km/h{% endif %}</div>
                    <div><img src="{{ weather.sunrise_icon }}" class="detail-icon"> {{ weather.sunrise }}</div>
                    <div><img src="{{ weather.pressure_icon }}" class="detail-icon"> {{ weather.pressure }} hPa</div>
                    <div><img src="{{ weather.aqi_icon }}" class="detail-icon"> {{ weather.airquality }}</div>
                    <div><img src="{{ weather.sunset_icon }}" class="detail-icon"> {{ weather.sunset }}</div>
                </div>
            </div>

            <div class="hourly-graph">
                {% for hour in weather.hourly %}
                <div class="hour-column">
                    <div class="hour-label">{{ hour.hour }}:00</div>
                    <div class="rain-container">
                        <img src="{{ hour.raindrop_icon }}" class="raindrop-icon">
                        <span class="rain-perc">{{ hour.rain }}%</span>
                    </div>
                    <div class="temp-label">{{ hour.temp }}°</div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="forecast-section">
            <div class="forecast-days">
                {% for day in weather.forecast %}
                <div class="forecast-day">
                    <div class="day-name">{{ day.name }}</div>
                    <img src="{{ day.icon }}" alt="Weather" class="day-icon">
                    <div class="day-temp">{{ day.max }}° / {{ day.min }}°</div>
                    <div class="moon-phase-day">
                        <img src="{{ day.moon_icon }}" class="moon-icon"> {{ day.moon_phase }}%
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Strava Panel -->
    <div class="strava-panel">
        {% for activity in activities %}
        <div class="run-entry">
            <div class="run-stats">
                <div class="date"><img src="{{ activity.activity_icon }}" class="activity-icon"> {{ activity.date }}
                </div>
                <div class="run-indicator" style="background-color: {{ activity.color }};"></div>
                <div class="stat"><img src="{{ activity.distance_icon }}" class="stat-icon"> {{ activity.distance }}
                </div>
                <div class="stat"><img src="{{ activity.duration_icon }}" class="stat-icon"> {{ activity.duration }}
                </div>
                <div class="stat"><img src="{{ activity.pace_icon }}" class="stat-icon"> {{ activity.pace }}</div>
                <div class="stat"><img src="{{ activity.elevation_icon }}" class="stat-icon"> {{ activity.elevation }}
                </div>
            </div>
            <div class="run-map">
                {% if activity.map_path %}
                <img src="{{ activity.map_path }}" alt="Activity map">
                {% else %}
                <div class="no-data">No GPS data</div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</body>

</html>