[Unit]
Description=Sporty Weather Display Dashboard
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
# The deploy.sh script will replace these with absolute paths
ExecStart=./venv/bin/python src/main.py
WorkingDirectory=/home/pi/SportyWeatherDisplay
Environment=PYTHONUNBUFFERED=1
StandardOutput=journal
StandardError=journal

# Restart policy
Restart=on-failure
RestartSec=5m

[Install]
WantedBy=default.target
